<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', path='bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
  <title>ASGI + HTMX</title>
</head>

<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script src="{{ url_for('static', path='htmx.min.js') }}" defer></script>
  <script src="{{ url_for('static', path='bootstrap.bundle.min.js') }}" defer></script>
</body>

</html>